{% extends 'base.html.twig' %}

{% block title %}Produits{% endblock %}

{% block body %}
<div class="contenu-blanc">
        <h1>Les Produits</h1>
        {{ include('messages.html.twig') }} 
        {# formulaire de recherche des produits #}
        <div class="contenu centrer">
            {{ form_start(formRecherche) }}
            <div class="form-item">
                <div class="font-weight-bold">
                    {{ form_label(formRecherche.libelle) }}
                </div>
                <div>
                    {{ form_widget(formRecherche.libelle) }}
                </div>
            </div>
            <div class="form-item">
                <div class="font-weight-bold"> 
                    {{ form_label(formRecherche.prixMini) }}
                </div>
                <div>
                    {{ form_widget(formRecherche.prixMini) }}
                </div>
            </div>
            <div class="form-item">
                <div class="font-weight-bold">
                    {{ form_label(formRecherche.prixMaxi) }}
                </div>
                <div>
                    {{ form_widget(formRecherche.prixMaxi) }}
                </div>
            </div>
            <div class="form-item">
                <button class="btn btn-primary btn-sm" type="submit" formaction="{{ path('produit') }}" title="Afficher les produits"><i class="fa fa-save"></i> Afficher</button>
                <button class="btn btn-info btn-sm" type="reset" title="Effacer la saisie"><i class="fa fa-eraser"></i> Effacer</button>
            </div>
            {{ form_end(formRecherche) }}
        </div>
        <div class="contenu">
            <table class="table table-striped table-advance table-hover flexbox-table">
                <thead class="flexboxhead">
                    <tr class="bg-entete">
                        <th scope="col">Identifiant</th>
                        <th scope="col">Libellé</th>
                        <th scope="col">Catégorie</th>
                        <th scope="col">Prix</th>
                        <th class="col">Recettes</th>
                        <th scope="col">Actions</th>
                        <th>
                            <a href="{{ path('produit_ajouter') }}" class="btn btn-primary btn-sm">
                            <i class="fa fa-save"></i> Ajouter nouveau produit</a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                {% for produit in lesProduits %}
                    <tr>
                        <td>{{ produit.id }}</td>
                        <td>{{ produit.libelle }}</td>
                        <td>{{ produit.categorie.getLibelle() }}</td>
                        <td>{{ produit.getPrix() | number_format(2, ',', ' ') }}</td>
                        <td> <a class="btn btn-info inline-button" id="lienMesRecettesModal" data-toggle="modal" href="#" onclick="afficherMesRecettes({{ produit.id }})">{{ produit.getRecettes() | length }}</a></td>
                        <td>
                            <form>
                                <button type="submit" class="btn btn-primary btn-sm inline-button" formaction="{{ path('produitModifier', {'id' : produit.id })  }}"  title="Modifier"><i class="fa fa-pencil"></i></button>
                                <button class="btn btn-danger btn-sm inline-button" type="submit" formaction="{{ path('produitSupprimer', {'id' : produit.id }) }}" title="Supprimer" 
                                    onclick="return confirm('Voulez-vous vraiment supprimer cette catégorie ?');"><i class="fa fa-trash-o "></i></button>
                                <input type = "hidden" name="_token" value="{{ csrf_token('action-item' ~ produit.id) }}">     
                            </form>
                        </td>
                        <td></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {# display navigation #}
            <div class="navigation">
                {{ knp_pagination_render(lesProduits) }}
            </div>
        </div>
    </div> 
    <!-- Modal -->
    <div class="modal fade" id="mesRecettesModal" role="dialog">
        <div class="modal-dialog modal-dialog-centered">

            <!-- Modal content-->
            <div class="modal-content contenu">
                <div class="modal-body" id="mesRecettesContenu">
                    <p>Du texte dans la fenêtre modale.</p>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    <script src="{{ asset('assets/jquery/jquery-3.5.0.min.js') }}"></script>
    <script src="{{ asset('assets/lib/bootstrap-4.4.1-dist/js/bootstrap.min.js') }}"></script>

    <script>
        function afficherMesRecettes(idProduit) {
            $(document).ready(function() {
                $.ajax({
                    url: '{{ path('ajax_recettes_produit') }}',
                    type: "POST",
                    dataType: "json",
                    data: {
                        "idProduit": idProduit
                    },
                    async: true,
                    success: function (lesRecettes) {
                        var chaineHtml = "";
                        for (var i = 0; i < lesRecettes.length; i++) {
                            chaineHtml = chaineHtml + "<div>" + lesRecettes[i].nom + "</div>";
                        }
                        $('#mesRecettesContenu').html(chaineHtml);
                        $('#mesRecettesModal').modal('show');
                    },
                    error: function(jqXHR){         // Fonction à appeler si la requête échoue
                        $("#mesRecettesContenu").html('<div class="text-danger">Erreur n°128</div>');
                    }
                })
            });
        }
    </script>

{% endblock %}

