<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="{{ asset('assets/lib/bootstrap-4.4.1-dist/css/bootstrap.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('assets/libMaya/styleMaya.css') }}" />
            <link href="{{ asset('assets/lib/font-awesome/css/font-awesome.css') }}" rel="stylesheet" />
        {% endblock %}
    </head>
    
    <body>
    <nav class="navbar navbar-expand-md fixed-top">
        <!-- Brand -->
        <a class="navbar-brand" href="#">La ferme de Maya</a>

        <!-- Toggler/collapsible Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('accueil') }}">Accueil</a>
                </li>
                {% if app.user %}
                    {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('categorie')}}">Catégories</a>
                    </li>
                    {% endif %}
                {% endif %}
                <li class="nav-item ">
                    <a class="nav-link" href="{{ path('produit') }}">Produits</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('recettes') }}">Recettes</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Parties prenantes
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path('clients') }}">Clients</a>
                        <a class="dropdown-item" href="{{ path('fournisseur') }}">Fournisseurs</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Animaux</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Commandes</a>
                </li>
                {% if app.user %}
                    {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('user_index')}}">Utilisateurs</a>
                    </li>
                    {% endif %}
                {% endif %}
                <!-- Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        Statistiques
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Link 1</a>
                        <a class="dropdown-item" href="#">Link 2</a>
                        <a class="dropdown-item" href="#">Link 3</a>
                    </div>
                </li>
                <li class="nav-item">
                    {#    si un utilisateur existe (et est donc connecté)    #}
                    {% if app.user %}
                        <li><a class="nav-link" href="{{ path('app_logout')}}">Se déconnecter</a></li>
                    {% else %}
                        <li><a class="nav-link" href="{{ path('app_login')}}">Se connecter</a></li>
                    {% endif %}
                </li>
            </ul>
        </div>
        {% if app.user %}
            <span class="navbar-brand pull-right">{{ app.user.prenom}} {{ app.user.nom }}</span>
        {% endif %}
    </nav>
    <div class="container-fluid aligne">
        {% block body %}{% endblock %}
    </div>
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
