{% extends 'base.html.twig' %}

{% block title %}Fournisseurs{% endblock %}

{% block body %}
    <div class="contenu-blanc">
        <h1>Les <span> {{  lesFournisseurs | length }}  </span>fournisseurs</h1>
        {{ include('messages.html.twig') }} 
        <div class="contenu">
            <table class="table table-striped table-advance table-hover flexbox-table fournisseur">
                <thead class="flexboxhead">
                    <tr class="bg-entete">
                        <th scope="col">Identifiant</th>
                        <th scope="col">Nom du fournisseur</th>
                        <th scope="col">Prenom</th>
                        <th scope="col">Email</th>
                        <th scope="col">Téléphone</th>
                        <th scope="col">Nom du contact</th>
                        <th scope="col">Adresse</th>

                        <th scope="col">Date d'entrée en relation</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {{ form_start(formCreation) }}
                        <tr>
                            <td>Nouveau</td>
                            <td>{{ form_widget(formCreation.nom) }}</td>
                            <td>{{ form_widget(formCreation.prenom) }}</td>
                            <td>{{ form_widget(formCreation.email) }}</td>
                            <td>{{ form_widget(formCreation.tel) }}</td>
                            <td>{{ form_widget(formCreation.adresse) }}</td>
                            <td>{{ form_widget(formCreation.nomContact) }}</td>
                            <td>{{ form_widget(formCreation.dateEnRelation) }}</td>
                            <td class="">
                                <button class="btn btn-primary btn-sm inline-button" type="submit" formaction="{{ path('fournisseurAjouter') }}" title="Enregistrer nouveeau fournisseur"><i class="fa fa-save"></i></button>
                                <button class="btn btn-info btn-sm inline-button" type="reset" title="Effacer la saisie"><i class="fa fa-eraser"></i></button>
                            </td>
                            {# Ceci va générer le champ CSRF #}
                        </tr>
                        {{ form_rest(formCreation) }}
                    {{ form_end(formCreation) }}
                {% for fournisseur in lesFournisseurs %}
                    {% if (fournisseur.id != idFournisseurModif) %}
                        <tr>
                            <td>{{ fournisseur.id }} </td>
                            <td>{{ fournisseur.nom }} </td>
                            <td>{{ fournisseur.prenom }} </td>
                            <td>{{ fournisseur.email }} </td>
                            <td>{{ fournisseur.tel }} </td>
                            <td>{{ fournisseur.adresse }} </td>
                            <td>{{ fournisseur.nomContact }} </td>
                            <td>{{ fournisseur.dateEnRelation | date('d/m/Y') }} </td>
                            <td>
                                <form>
                                    <button type="submit" class="btn btn-primary btn-sm inline-button" formaction="{{ path('fournisseurDemanderModif', {'id' : fournisseur.id }) }}"  title="Modifier"><i class="fa fa-pencil"></i></button>
                                    <button class="btn btn-danger btn-sm inline-button" type="submit" formaction="{{ path('fournisseurSupprimer', {'id' : fournisseur.id }) }}" title="Supprimer" onclick="return confirm('Voulez-vous vraiment supprimer cette catégorie ?');"><i class="fa fa-trash-o "></i></button>
                                    <input type = "hidden" name="_token" value="{{ csrf_token('action-item' ~ fournisseur.id) }}">     
                                </form>
                            </td>
                        </tr>
                    {% else %}
                        {{ form_start(formModification) }}
                            <tr>
                                <td>{{ fournisseur.id }}</td>
                                <td>{{ form_widget(formModification.nom) }} </td>
                                <td>{{ form_widget(formModification.prenom) }} </td>
                                <td>{{ form_widget(formModification.email) }} </td>
                                <td>{{ form_widget(formModification.tel) }} </td>
                                <td>{{ form_widget(formModification.adresse) }} </td>
                                <td>{{ form_widget(formModification.nomContact) }} </td>
                                {# <td>{{ fournisseur.dateEnRelation | date('d/m/Y') }}</td> #}
                                <td>{{ form_widget(formModification.dateEnRelation) }}</td>
                                <td class="">
                                    <button class="btn btn-primary btn-sm inline-button" type="submit" formaction="{{ path('fournisseurModifier', {'id' : fournisseur.id }) }}"  title="Enregistrer"><i class="fa fa-save"></i></button>
                                    <button class="btn btn-info btn-sm inline-button" type="reset" title="Effacer la saisie"><i class="fa fa-eraser"></i></button>
                                    <button class="btn btn-warning btn-sm inline-button" type="submit" formaction="{{ path('fournisseur') }}" title="Annuler"><i class="fa fa-undo"></i></button>
                                </td>
                            </tr>
                            {{ form_rest(formModification) }}
                        {{ form_end(formModification) }}
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div> 
{% endblock %}
